{
	email {$ACME_EMAIL}
	default_sni {$PUBLIC_HOST}
}

{$PUBLIC_HOST} {
	tls {
		issuer acme https://acme-v02.api.letsencrypt.org/directory {
			profile shortlived
		}
	}

	encode zstd gzip

	header {
		-Server
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}

	handle /api/v1/* {
		reverse_proxy app-backend:8011
	}

	handle {
		respond "Not Found" 404
	}
}
